<div class="container mt-4 border border-danger shadow-lg " style="border-radius: 0.75rem;">
    <div class="d-flex justify-content-between m-3  align-items-center mb-3">
        <h5>
            Friends
            <span class="friend-count">
                230
            </span>
        </h5>
        <button class="see-all-btn">
            See all friends
        </button>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="friend-card">
                <img alt="Portrait of Frances Guerrero" height="80"
                    src="https://storage.googleapis.com/a1aa/image/2eIbnNq8T60DLyIqY6YRviMJRHZo39lJWvRFT8K6Bq29i81JA.jpg"
                    width="80" />
                <h6 class="mt-2">
                    Frances Guerrero
                </h6>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary me-2">
                        <i class="fas fa-comment">
                        </i>
                    </button>
                    <button class="btn btn-danger">
                        <i class="fas fa-eye">
                        </i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="friend-card">
                <img alt="Portrait of Lori Ferguson" height="80"
                    src="https://storage.googleapis.com/a1aa/image/RKn4Vb1VnlqwARteMmGf6z50bVz7zzPobuJuvcysEZe9LyXnA.jpg"
                    width="80" />
                <h6 class="mt-2">
                    Lori Ferguson
                </h6>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary me-2">
                        <i class="fas fa-comment">
                        </i>
                    </button>
                    <button class="btn btn-danger">
                        <i class="fas fa-user-times">
                        </i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="friend-card">
                <img alt="Portrait of Samuel Bishop" height="80"
                    src="https://storage.googleapis.com/a1aa/image/15Bbbb3hC2otLlQTcrdlcSjauPOd4hzYlNW6ONjwH1sei81JA.jpg"
                    width="80" />
                <h6 class="mt-2">
                    Samuel Bishop
                </h6>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary me-2">
                        <i class="fas fa-comment">
                        </i>
                    </button>
                    <button class="btn btn-danger">
                        <i class="fas fa-user-times">
                        </i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="friend-card">
                <img alt="Portrait of Dennis Barrett" height="80"
                    src="https://storage.googleapis.com/a1aa/image/NJuRG48cPc43OtOxUNW41pjbje8alReAKThbWYYP0OP9F5rTA.jpg"
                    width="80" />
                <h6 class="mt-2">
                    Dennis Barrett
                </h6>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary me-2">
                        <i class="fas fa-comment">
                        </i>
                    </button>
                    <button class="btn btn-danger">
                        <i class="fas fa-user-times">
                        </i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>