<% layout("/layouts/boilerplate") %>
<div class="container-fluid">
    <div class="row g-4">
        <!-- Left Column -->
        <div class="col-lg-8">
            <%- include("../includes/profileUser") %>
        </div>
        <!-- Right Column-->
        <div class="col-lg-4 dis-none">
            <%- include("../includes/friends") %>
        </div>

    </div>
    
</div>
